# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/

# Data files
data/football_*/Match_*/*.mp4
data/football_*/Match_*/*.json

# Extracted frames and dataset files
data/frames/
data/frames_*/
data/frames_test/

# System files
.DS_Store
*.pyc
*.pyo

# Model files
*.pt
*.pth
*.onnx
*.weights

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# VS Code
.vscode/